<launch>


  <node pkg="usb_cam" type="usb_cam_node" name="left" ns="stereo" >
    <remap from="usb_cam" to="odom_wheel" />
    <!--<remap from="imu_data" to="imu" />-->
    <param name="camera_frame_id" value="left"/>
    <param name="self_diagnose" value="false"/>
    <param name="framerate" value="10"/>
  </node>


</launch>



